.admin-key {
  .fix-spacing {
    ion-label {
      margin-bottom: 8px;
    }

    ion-list {
      align-self: stretch;
    }

    ion-note {
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }
}
