.drink-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-top: 10px;
  margin-left: 15px;
  margin-right: 15px;
}

.message {
  display: flex;
  justify-content: center;
}

.confirm-alert .cancel-button {
  color: var(--ion-color-danger);
}

.confirm-alert .confirm-button {
  color: var(--ion-color-success);
}
