.no-stats {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 100px;
  font-size: x-large;
  text-align: center;
}

h1 {
  margin-left: 10px;
}

h3 {
  margin-top: -5px;
}

.event-stat {
  margin-bottom: 50px;
}
