.icon-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-top: -10px;
  width: 100%;

  .image {
    @media screen and (max-width: 767px) {
      width: 20%;
      height: 20%;
    }
    @media screen and (min-width: 768px) {
      width: 96px;
      height: 96px;
    }

    overflow: hidden;
    border-radius: 50%;
    margin-right: 16px;
    margin-top: 10px;
  }
}
