.header {
  display: flex;
  flex-direction: row;
  width: 100%;
  .part {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  .left {
    font-size: 1.5rem;
    margin: 0; // Reset browser defaults
  }

  .icon-style {
    width: 32px;
    height: 32px;
    margin-right: 10px;
    cursor: pointer;
  }
}

.menu-item {
  margin-right: 10px;
}

h2 {
  margin-top: 10px;
  margin-bottom: 10px;
}
