.drink-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.message {
  display: flex;
  justify-content: center;
}

.confirm-alert .cancel-button {
  color: var(--ion-color-danger);
}

.confirm-alert .confirm-button {
  color: var(--ion-color-success);
}
