.main {
  display: flex;
  flex-direction: column-reverse;

  .header-margin {
    margin-left: 10px;
  }

  @media screen and (max-width: 767px) {
    .events {
      margin-right: 15px;
      margin-top: 25px;
    }

    .add {
      margin-left: 15px;
    }
  }

  @media screen and (min-width: 768px) {
    flex-direction: row;
    justify-content: flex-start;
    .item {
      width: 400px;
    }

    .events {
      margin-right: 150px;
    }
  }
}
